<form [formGroup]="form" class="p-l space-y-m">

  <h1 class="text-headline-page text-neutral-1000">Strive Angular CDK</h1>

  <!-- Toggle Select -->
  <div>
    <h1 class="font-bold text-xl text-neutral-600 pb-s">Toggle-Select (Switch)</h1>
    <button toggleSelect [checked]="switchValue" (checkedChange)="switchValue = $event">Toggle: {{ switchValue }}</button>
  </div>

  <!-- Single Select -->
  <div>
    <h1 class="text-headline-section text-neutral-600 pb-s">Single-Select</h1>
    <div>You selected: {{ singleSelectValue || 'None' }}</div>
    <div singleSelect [selectedOption]="singleSelectValue" (selectedOptionChange)="singleSelectValue = $event">
      <div singleSelectOption value="opt-1" [ngClass]="{ 'font-bold': singleSelectValue === 'opt-1' }">Option 1</div>
      <div singleSelectOption value="opt-2" [ngClass]="{ 'font-bold': singleSelectValue === 'opt-2' }">Option 2</div>
      <div singleSelectOption value="opt-3" [ngClass]="{ 'font-bold': singleSelectValue === 'opt-3' }">Option 3</div>
    </div>
  </div>

  <!-- Single Select (Reactive Forms) -->
  <div>
    <h1 class="text-headline-section text-neutral-600 pb-s">Single-Select (Reactive Forms)</h1>
    <div>You selected: {{ form.get('singleSelectValue')?.value || 'None' }}</div>
    <div singleSelect formControlName="singleSelectValue" #singleSelect="singleSelect">
      <div singleSelectOption value="opt-1" [ngClass]="{ 'font-bold': singleSelect.isSelectedOption('opt-1') }">Option 1</div>
      <div singleSelectOption value="opt-2" [ngClass]="{ 'font-bold': singleSelect.isSelectedOption('opt-2') }">Option 2</div>
      <div singleSelectOption value="opt-3" [ngClass]="{ 'font-bold': singleSelect.isSelectedOption('opt-3') }">Option 3</div>
    </div>
  </div>

  <!-- Multi Select -->
  <div>
    <h1 class="text-headline-section text-neutral-600 pb-s">Multi-Select</h1>
    <div>You selected: {{ multiSelectValue | json }} ({{ 2 - multiSelectValue.length }} remaining)</div>
    <div multiSelect [maxSelectableOptions]="2" [selectedOptions]="multiSelectValue" (selectedOptionsChange)="multiSelectValue = $event">
      <div multiSelectOption value="1" [ngClass]="{ 'font-bold': multiSelectValue.includes('1') }">Option 1</div>
      <div multiSelectOption value="2" [ngClass]="{ 'font-bold': multiSelectValue.includes('2') }">Option 2</div>
      <div multiSelectOption value="3" [ngClass]="{ 'font-bold': multiSelectValue.includes('3') }">Option 3</div>
    </div>
  </div>

  <!-- Multi Select (Reactive Forms) -->
  <div>
    <h1 class="text-headline-section text-neutral-600 pb-s">Multi-Select (Reactive Forms)</h1>
    <div>You selected: {{ form.get('multiSelectValue')?.value | json }}</div>
    <div multiSelect formControlName="multiSelectValue" #multiSelect="multiSelect">
      <div multiSelectOption [value]="1" [ngClass]="{ 'font-bold': multiSelect.isSelected(1) }">Option 1</div>
      <div multiSelectOption [value]="2" [ngClass]="{ 'font-bold': multiSelect.isSelected(2) }">Option 2</div>
      <div multiSelectOption [value]="3" [ngClass]="{ 'font-bold': multiSelect.isSelected(3) }">Option 3</div>
    </div>
  </div>

  <uix-stepper #stepper="uixStepper" [linear]="true" formArrayName="steps">

    <!-- Header -->
    <div class="flex">
      <div *ngFor="let step of stepper.steps; index as i" [uixStepperSelect]="stepper.steps.get(i)">{{ step.label || 'Step ' + (i + 1) }} ({{ step.state }})</div>
    </div>

    <!-- Steps -->
    <uix-step formGroupName="0" [stepControl]="stepperForm">
      Name: <input type="text" formControlName="name">
    </uix-step>
    <uix-step>Content Step 1</uix-step>
    <uix-step>Content Step 2</uix-step>

    <!-- Selected Step Content -->
    <div [ngClass]="{ 'opacity-50': stepper.selectedStep?.completed }">
      <ng-container [ngTemplateOutlet]="stepper.selectedStep ? stepper.selectedStep.content : null"></ng-container>
    </div>

    <!-- Buttons -->
    <div>
      <button uixStepperPrevious>Previous</button>
      <button uixStepperNext>Next</button>
    </div>

  </uix-stepper>

</form>

<app-stepper>
  <uix-step [label]="'step x'">Content Step 0</uix-step>
  <uix-step>Content Step 1</uix-step>
  <uix-step>Content Step 2</uix-step>
</app-stepper>

<router-outlet></router-outlet>
