<form [formGroup]="form" class="p-l space-y-m">

  <h1 class="text-headline-page text-neutral-1000">Strive Angular CDK</h1>

  <!-- Toggle Select -->
  <div>
    <h1 class="font-bold text-xl text-neutral-600 pb-s">Toggle-Select (Switch)</h1>
    <button toggleSelect [checked]="switchValue" (checkedChange)="switchValue = $event">Toggle: {{ switchValue }}</button>
  </div>

  <!-- Single Select -->
  <div>
    <h1 class="text-headline-section text-neutral-600 pb-s">Single-Select</h1>
    <div>You selected: {{ singleSelectValue || 'None' }}</div>
    <div singleSelect [selectedOption]="singleSelectValue" (selectedOptionChange)="singleSelectValue = $event">
      <div singleSelectOption value="opt-1" [ngClass]="{ 'font-bold': singleSelectValue === 'opt-1' }">Option 1</div>
      <div singleSelectOption value="opt-2" [ngClass]="{ 'font-bold': singleSelectValue === 'opt-2' }">Option 2</div>
      <div singleSelectOption value="opt-3" [ngClass]="{ 'font-bold': singleSelectValue === 'opt-3' }">Option 3</div>
    </div>
  </div>

  <!-- Single Select (Reactive Forms) -->
  <div>
    <h1 class="text-headline-section text-neutral-600 pb-s">Single-Select (Reactive Forms)</h1>
    <div>You selected: {{ form.get('singleSelectValue')?.value || 'None' }}</div>
    <div singleSelect formControlName="singleSelectValue" #singleSelect="singleSelect">
      <div singleSelectOption value="opt-1" [ngClass]="{ 'font-bold': singleSelect.isSelectedOption('opt-1') }">Option 1</div>
      <div singleSelectOption value="opt-2" [ngClass]="{ 'font-bold': singleSelect.isSelectedOption('opt-2') }">Option 2</div>
      <div singleSelectOption value="opt-3" [ngClass]="{ 'font-bold': singleSelect.isSelectedOption('opt-3') }">Option 3</div>
    </div>
  </div>

  <!-- Multi Select -->
  <div>
    <h1 class="text-headline-section text-neutral-600 pb-s">Multi-Select</h1>
    <div>You selected: {{ multiSelectValue | json }} ({{ 2 - multiSelectValue.length }} remaining)</div>
    <div multiSelect [maxSelectableOptions]="2" [selectedOptions]="multiSelectValue" (selectedOptionsChange)="multiSelectValue = $event">
      <div multiSelectOption value="1" [ngClass]="{ 'font-bold': multiSelectValue.includes('1') }">Option 1</div>
      <div multiSelectOption value="2" [ngClass]="{ 'font-bold': multiSelectValue.includes('2') }">Option 2</div>
      <div multiSelectOption value="3" [ngClass]="{ 'font-bold': multiSelectValue.includes('3') }">Option 3</div>
    </div>
  </div>

  <!-- Multi Select (Reactive Forms) -->
  <div>
    <h1 class="text-headline-section text-neutral-600 pb-s">Multi-Select (Reactive Forms)</h1>
    <div>You selected: {{ form.get('multiSelectValue')?.value | json }}</div>
    <div multiSelect formControlName="multiSelectValue" #multiSelect="multiSelect">
      <div multiSelectOption [value]="1" [ngClass]="{ 'font-bold': multiSelect.isSelected(1) }">Option 1</div>
      <div multiSelectOption [value]="2" [ngClass]="{ 'font-bold': multiSelect.isSelected(2) }">Option 2</div>
      <div multiSelectOption [value]="3" [ngClass]="{ 'font-bold': multiSelect.isSelected(3) }">Option 3</div>
    </div>
  </div>

  <!-- Tabs -->
  <div>
    <h1 class="text-headline-section text-neutral-600 pb-s">Tab Navigation</h1>
    <div tabGroup formControlName="selectedTab">
      <div tabList class="flex space-x-l">
        <div *tab="let tab" [ngClass]="{ 'font-bold': tab.selected }">Tab 1</div>
        <div *tab="let tab" [ngClass]="{ 'font-bold': tab.selected }">Tab 2</div>
        <div *tab="let tab" [ngClass]="{ 'font-bold': tab.selected }">Tab 3</div>
      </div>
      <div tabPanels>
        <div *tabPanel></div>
        <div *tabPanel>Panel 2</div>
        <div *tabPanel>Panel 3</div>
      </div>
    </div>
  </div>

  <router-outlet></router-outlet>

  <div class="space-x-2">
    <button type="button" class="bg-primary-500 text-white text-base py-narrow px-base rounded-md">
      Small
    </button>
    <button type="button" class="bg-primary-500 text-white text-base py-base px-wide rounded-md">
      Default
    </button>
    <button type="button" class="bg-primary-500 text-white text-base p-wide rounded-md">
      Large
    </button>
  </div>


  <div class="grid grid-cols-3 gap-m">
    <div class="card --small">
      <h3 class="text-lg font-bold text-gray-800 dark:text-white">
        Card title
      </h3>
      <p class="mt-2 text-gray-800 dark:text-gray-400">
        With supporting text below as a natural lead-in to additional content.
      </p>
      <a class="mt-3 inline-flex items-center gap-2 text-sm font-medium text-blue-500 hover:text-blue-700" href="#">
        Card link
        <svg class="w-2.5 h-auto" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M5 1L10.6869 7.16086C10.8637 7.35239 10.8637 7.64761 10.6869 7.83914L5 14" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
        </svg>
      </a>
    </div>
    <div class="card --medium">
      <h3 class="text-lg font-bold text-gray-800 dark:text-white">
        Card title
      </h3>
      <p class="mt-2 text-gray-800 dark:text-gray-400">
        With supporting text below as a natural lead-in to additional content.
      </p>
      <a class="mt-3 inline-flex items-center gap-2 text-sm font-medium text-blue-500 hover:text-blue-700" href="#">
        Card link
        <svg class="w-2.5 h-auto" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M5 1L10.6869 7.16086C10.8637 7.35239 10.8637 7.64761 10.6869 7.83914L5 14" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
        </svg>
      </a>
    </div>
    <div class="card --large">
      <h3 class="text-lg font-bold text-gray-800 dark:text-white">
        Card title
      </h3>
      <p class="mt-2 text-gray-800 dark:text-gray-400">
        With supporting text below as a natural lead-in to additional content.
      </p>
      <a class="mt-3 inline-flex items-center gap-2 text-sm font-medium text-blue-500 hover:text-blue-700" href="#">
        Card link
        <svg class="w-2.5 h-auto" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M5 1L10.6869 7.16086C10.8637 7.35239 10.8637 7.64761 10.6869 7.83914L5 14" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
        </svg>
      </a>
    </div>
  </div>

  <div class="container bg-gray-100 p-wide-4 mt-wide-4">
    <main class="mx-auto max-w-7xl px-4">
      <div class="text-center">
        <h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-5xl md:text-6xl">
          <span class="block xl:inline">Data to enrich your</span>
          <span class="block text-indigo-600 xl:inline">online business</span>
        </h1>
        <p class="mx-auto mt-wide max-w-md text-base text-gray-500 sm:text-lg md:max-w-3xl md:text-xl">Anim aute id magna aliqua ad ad non deserunt sunt. Qui irure qui lorem cupidatat commodo. Elit sunt amet fugiat veniam occaecat fugiat aliqua.</p>
        <div class="mx-auto mt-wide-2 max-w-md sm:flex sm:justify-center">
          <div class="rounded-md shadow">
            <a href="#" class="flex w-full items-center justify-center rounded-md border border-transparent bg-indigo-600 py-base px-wide-2 text-base font-medium text-white hover:bg-indigo-700 md:text-lg">Get started</a>
          </div>
          <div class="mt-3 rounded-md shadow sm:mt-0 sm:ml-3">
            <a href="#" class="flex w-full items-center justify-center rounded-md border border-transparent bg-white py-base px-wide text-base font-medium text-indigo-600 hover:bg-gray-50 md:text-lg">Live demo</a>
          </div>
        </div>
      </div>
    </main>
  </div>
  <div class="container bg-white p-wide-4">
    <main class="mx-auto max-w-7xl px-4">
      <div class="text-center">
        <h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-5xl md:text-6xl">
          <span class="block xl:inline">Data to enrich your</span>
          <span class="block text-indigo-600 xl:inline">online business</span>
        </h1>
        <p class="mx-auto mt-wide max-w-md text-base text-gray-500 sm:text-lg md:max-w-3xl md:text-xl">Anim aute id magna aliqua ad ad non deserunt sunt. Qui irure qui lorem cupidatat commodo. Elit sunt amet fugiat veniam occaecat fugiat aliqua.</p>
        <div class="mx-auto mt-wide-2 max-w-md sm:flex sm:justify-center">
          <div class="rounded-md shadow">
            <a href="#" class="flex w-full items-center justify-center rounded-md border border-transparent bg-indigo-600 py-base px-wide text-base font-medium text-white hover:bg-indigo-700 md:text-lg">Get started</a>
          </div>
          <div class="mt-3 rounded-md shadow sm:mt-0 sm:ml-3">
            <a href="#" class="flex w-full items-center justify-center rounded-md border border-transparent bg-white py-base px-wide text-base font-medium text-indigo-600 hover:bg-gray-50 md:text-lg">Live demo</a>
          </div>
        </div>
      </div>
    </main>
  </div>

</form>
