<div class="p-l space-y-m">

  <h1 class="text-3xl font-bold text-neutral-1000">Strive Angular CDK</h1>

  <!-- Toggle Select Directive -->
  <div>
    <button toggleSelect [checked]="switchValue" (checkedChange)="switchValue = $event">Toggle: {{ switchValue }}</button>
  </div>

  <!-- Single Select Directive -->
  <div>
    <div>You selected: {{ singleSelectValue || 'None' }}</div>
    <div singleSelectGroup [selectedOption]="singleSelectValue" (selectedOptionChange)="singleSelectValue = $event" #singleSelect="singleSelectGroup">
      <div singleSelectOption value="opt-1" [ngClass]="{ 'font-bold': singleSelect.isSelectedOption('opt-1') }">Option 1</div>
      <div singleSelectOption value="opt-2" [ngClass]="{ 'font-bold': singleSelect.isSelectedOption('opt-2') }">Option 2</div>
      <div singleSelectOption value="opt-3" [ngClass]="{ 'font-bold': singleSelect.isSelectedOption('opt-3') }">Option 3</div>
    </div>
  </div>

  <router-outlet></router-outlet>

</div>
