<!-- ========== HEADER ========== -->
<header class="sticky inset-x-0 top-0 z-50 flex flex-wrap w-full py-3 text-sm border-b border-gray-200 bg-neutral sm:justify-start sm:flex-nowrap sm:py-0 dark:bg-gray-800 dark:border-gray-700">
  <nav class="relative w-full container-wide sm:flex sm:items-center sm:justify-between" aria-label="Global">
    <div class="flex items-center justify-between">
      <a class="flex-none text-xl font-semibold text-primary dark:text-white" href="#" aria-label="Brand">Brand</a>
      <!-- Burger -->
      <div class="sm:hidden">
        <button type="button" class="inline-flex items-center justify-center gap-2 p-1 text-sm font-medium align-middle transition-all border rounded-md shadow-sm bg-neutral-100 border-neutral-300 text-neutral-500 hs-collapse-toggle hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-white focus:ring-blue-600 dark:bg-gray-800 dark:hover:bg-slate-800 dark:border-gray-700 dark:text-gray-400 dark:hover:text-white dark:focus:ring-offset-gray-800" data-hs-collapse="#navbar-collapse-with-animation" aria-controls="navbar-collapse-with-animation" aria-label="Toggle navigation">
          <svg class="w-2 h-2 hs-collapse-open:hidden" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
          </svg>
          <svg class="hidden w-2 h-2 hs-collapse-open:block" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
          </svg>
        </button>
      </div>
    </div>
    <div id="navbar-collapse-with-animation" class="hidden overflow-hidden transition-all duration-300 hs-collapse basis-full grow sm:block">
      <div class="flex flex-col py-2 mt-5 gap-y-4 gap-x-0 sm:flex-row sm:items-center sm:justify-end">
        <a class="px-3 font-medium text-neutral-800" href="#" aria-current="page">Link</a>
        <a class="px-3 font-medium text-neutral-400" href="#">Link</a>
        <a class="px-3 font-medium text-neutral-400" href="#">Link</a>
        <a class="px-3 font-medium text-neutral-400" href="#">Link</a>

        <a class="flex items-center pl-2 text-accent sm:border-l sm:border-neutral-800" href="#">
            Profile
        </a>
      </div>
    </div>
  </nav>
</header>
<!-- ========== END HEADER ========== -->


<!-- ========== MAIN CONTENT ========== -->
<main id="content" role="main" class="shrink-0">
  <div class="py-10 container-wide">
    <!-- Page Heading -->
    <header>
      <h1 class="py-4 page-headline">Headline</h1>
    </header>
    <!-- End Page Heading -->
  </div>
</main>
<!-- ========== END MAIN CONTENT ========== -->


<!-- ========== FOOTER ========== -->
<footer class="py-3 mt-auto bg-neutral-200">
  <div class="container-wide">
    <p class="text-neutral-500">Footer</p>
  </div>
</footer>
<!-- ========== END FOOTER ========== -->
