<div class="space-y-4">

  <!-- Template Tabs -->
  <div uixTabGroup #tabGroup="uixTabGroup">

    <!-- Header -->
    <div class="flex">
      <button *ngFor="let tab of tabGroup.tabs; index as i" class="underline mr-2" [uixTabSelect]="i" [ngClass]="{ 'opacity-50': tab.disabled, 'font-bold': tab.isSelected }">{{ tab.label || 'Tab' }}</button>
    </div>

    <!-- Tab Panels -->
    <uix-tab label="First Tab">Tab 1</uix-tab>
    <uix-tab label="Second Tab">Tab 2</uix-tab>
    <uix-tab label="Third Tab">Tab 3</uix-tab>

    <!-- Selected Tab Panel -->
    <ng-container [ngTemplateOutlet]="tabGroup.selectedTab ? tabGroup.selectedTab.content : null"></ng-container>

  </div>

  <!-- Custom Tabs -->
  <div>
    <app-custom-tabs (selectedTabChange)="lastTabChange = $event">
      <uix-tab label="First Tab">Tab 1</uix-tab>
      <uix-tab label="Second Tab">Tab 2</uix-tab>
      <uix-tab label="Third Tab" [disabled]="true">Tab 3</uix-tab>
    </app-custom-tabs>

    <p *ngIf="lastTabChange" class="mt-1 text-neutral-300">You just changed tabs from {{ lastTabChange.previousTab.label }} to {{ lastTabChange.selectedTab.label }}.</p>

  </div>


</div>
